.custom-breadcrumb {
    padding: 12px 0px;
    list-style: none;
    color: #666;
    font-size: 14px;
    width: 1140px;
    margin: 0 auto;
    background-color: #F5F5F5;

    li {
        display: inline;
        margin-right: 0.5em;

        &:after {
            content: " » ";
            color: #666;
        }

        &:last-child:after {
            content: "";
        }
    }

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        width: auto;
        padding-left: 30px;
    }
}
